default-lease-time 600;
max-lease-time 7200;

allow booting;

subnet 192.168.1.0 netmask 255.255.255.0 {
    range 192.168.1.3 192.168.1.253;
    option broadcast-address 192.168.1.255;
    option routers 192.168.1.2;
    option domain-name-servers 192.168.1.2;
    filename "pxelinux.0";
}

group {
    next-server 192.168.1.2;

    host tftpclient {
        filename "pxelinux.0";
    }
}
