default-lease-time 600;
max-lease-time 7200;

allow booting;

subnet MY_NETWORK.0 netmask 255.255.255.0 {
    range MY_NETWORK.3 MY_NETWORK.253;
    option broadcast-address MY_NETWORK.255;
    option routers MY_IP;
    option domain-name-servers MY_IP;
    filename "pxelinux.0";
}

group {
    next-server MY_IP;

    host tftpclient {
        filename "pxelinux.0";
    }
}
